/*Color Palette
Base : #B2462B
#663C31
#8DBF4B
#122D7F
#7295FF*/

header {
    background-color: #B2462B;
    color: #8DBF4B;
    padding: 5px;
    border-radius: 100px;
    text-align: center;
    margin-bottom: 15px;
}

article {
    background-color: #663C31;
    padding: 5px;
    border-radius: 15px 15px 0px 0px;
    border: solid #B2462B;
    border-width: 5px 0px 0px 5px;
}

article h1 {
    color: #8DBF4B;
}

article p {
    margin: 0;
    color: #7295FF;
}

article + p {
    margin-top: 5px;
}
